{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron">
        <p class="lead">Bus routing system.</p>
        <ul>
            {% for key, value in deploying.items() %}
                {% if value > 1 %}
                    <li>Direct {{value}} busses to {{key}} route</li>
                {% endif %}
                {% if value == 1 %}
                    <li>Direct {{value}} bus to {{key}} route</li>
                {% endif %}
            {% endfor %}
        </ul>

    </div>

{% endblock %}
