{% extends "main.html" %}
{% load static %}

{% block title %}
  Home 
{% endblock title %}

{% block contents %}
<h2>Bus Disc</h2>
{% if none %}
  <div class="alert alert-danger">{{ none }}</div>
{% endif %}
<div class="row">
    
<p>Bus Disc has the best routs and price at your comfort</p>
<p>You can travel the wolrd with us. We offer the best deal and passenger comfort</p>
<div class="col-md-3 homeads" id="pro">
  <h3>Promo</h3>  
  <p>Bus Disc Special Offer</p>
  Book flight to any destination this festive seacon
</div>

<div class="col-md-3 homeads" id="pro1">
    <h3>Routes</h3>  
    <p>The Bus of Choice in standards and safty</p>
    Tour the wolrd for business and please
</div>

<div class="col-md-3 homeads" id="pro2">
    <h3>Baggage</h3>  
    <p>Max allowed cariage</p>
    Our Business class category has unlimited baggage allowance
</div>

<p>We are a world class Bus Company with no match when it comes to international standards
    and passengers safty.
</p>
</div>
{% endblock contents %}